<template name="raceSubmit">
	<form>
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input name="name" type="text" value="" placeholder="Race name" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="location">Location</label>
			<div class="controls">
				<input name="location" type="text" value="" placeholder="Location" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="date">Date</label>
			<div class="controls">
				<input class="datepicker" name="date" type="text" value="" placeholder="Date" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="time">Time</label>
			<div class="controls">
				<input name="time" type="text" value="" placeholder="Time">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="interval">Interval</label>
			<div class="controls">
				<input name="interval" type="text" value="" placeholder="Interval">
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Add Race" class="btn btn-primary">
			</div>
		</div>
	</form>
</template>