<template name="raceAddParticipant">
	{{#if raceLockedStatus}}
		Race is locked
		<form id="formRaceAddParticipant">
			<div class="control-group">
				<div class="controls">
					<input id="startnumber" name="startnumber" type="text" style="width:250px;" value="" placeholder="Startnumber" />
					<input id="endtime" name="endtime" type="text" style="width:250px;" value="" placeholder="Endtime" />
					<input type="hidden" name="id" id="id" />
					<input type="submit" value="Register time" id="addToRace" class="btn btn-primary submit" style="Margin-top:-10px;" />
					<input type="button" value="Unlock Race" id="raceLockId" class="btn btn-primary lock" style="Margin-top:-10px;" />
				</div>
			</div>
		</form>
	{{else}}
		Race is unlocked
		<form id="formRaceAddParticipant">
			<div class="control-group">
				<div class="controls">
					<input id="name" name="name" type="text" style="width:250px;" value="" placeholder="Participant" />
					<input type="hidden" name="year" id="year" />
					<input type="hidden" name="club" id="club" />
					<input type="hidden" name="id" id="id" />
					<input type="submit" value="Add to Race" id="addToRace" class="btn btn-primary submit" style="Margin-top:-10px;" />
					<input type="button" value="Lock Race" id="raceLockId" class="btn btn-primary lock" style="Margin-top:-10px;" />
				</div>
			</div>
		</form>
	{{/if}}
</template>