<template name="raceAddParticipant">
	<form id="formRaceAddParticipant">
		<div class="control-group">
			<div class="controls">
				<input id="name" name="name" type="text" style="width:250px;" value="" placeholder="Participant" />
				<input type="hidden" name="year" id="year" />
				<input type="hidden" name="club" id="club" />
				<input type="hidden" name="id" id="id" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Add to Race" class="btn btn-primary submit" />
			</div>
		</div>
	</form>
</template>