<template name="raceDetails">
	<div class="krend">
		<div class="krend-content">
		{{#with race}}
			<p>Race name: {{race.name}}</p>
			<p>Location: {{race.location}}</p>
			<p>Date: {{race.date}}</p>
			<p>Time: {{race.time}}</p>
			<p>Interval: {{race.interval}}</p>
			{{#if ownRace}}<br /><input type="button" class="discuss btn edit" style="float: left" value="Edit">{{/if}}
		{{else}}
			<p>Race name:</p>
			<p>Location:</p>
			<p>Date:</p>
			<p>Time:</p>
			<p>Interval:</p>
		{{/with}}
		{{#with edit_race}}
			<br />
			<br />
			{{> raceEdit}}
		{{/with}}
		</div>
	</div>
</template>