<template name="raceItem">
	<div class="krend col-2-3">
		<div class="krend-content">
			<h3><span>{{name}}, {{location}}, {{date}}, {{time}}, {{interval}}</span></h3>
			<p>
				Added by {{owner}}
				{{#if ownRace}}<a href="{{pathFor 'raceEdit'}}">Edit</a>{{/if}}
			</p>
			<br />
		</div>
		<div class="">
			{{#if raceLocked}}
				<a href="{{pathFor 'registerTimePage'}}" class="discuss btn">Participants</a>
			{{else}}
				<a href="{{pathFor 'racePage'}}" class="discuss btn">Participants</a>
			{{/if}}
		</div>
	</div>
</template>