<template name="raceRegisterTime">
	Race is locked
	<form id="formRaceRegisterTime">
		<div class="control-group">
			<div class="controls">
				<input id="startnumber" name="startnumber" type="text" style="width:250px;" value="" placeholder="Startnumber" />
				<input id="endtime" name="endtime" type="text" style="width:250px;" value="" placeholder="Endtime" />
				<input type="hidden" name="id" id="id" />
				<input type="submit" value="Register time" id="registerTime" class="btn btn-primary submit" style="Margin-top:-10px;" />
				<a href="{{pathFor 'racePage'}}" class="btn btn-primary unlock" style="Margin-top:-10px;" >Unlock Race</a>
			</div>
		</div>
	</form>
</template>