<template name="participantEdit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input id="name" name="name" type="text" value="{{name}}" placeholder="Your name" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="year">Year</label>
			<div class="controls">
				<input id="year" name="year" type="text" value="{{year}}" placeholder="Year born" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="club">Club</label>
			<div class="controls">
				<input id="club" name="club" type="text" value="{{club}}" placeholder="Club" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Update" class="btn btn-primary submit" />
				<a class="btn btn-danger delete" href="#">Delete participant</a>
			</div>
		</div>
		<hr />
		<div class="control-group">
			<div class="controls">
				<a class="btn btn cancel" href="#">Cancel</a>
			</div>
		</div>

	</form>
</template>