<template name="participantSubmit">
	<form id="formParticipantSubmit">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input id="name" name="name" type="text" value="" placeholder="Your name" />
			</div>
			<label class="control-label" for="year">Year</label>
			<div class="controls">
				<input id="year" name="year" type="text" value="" placeholder="Year born" />
			</div>
			<label class="control-label" for="club">Club</label>
			<div class="controls">
				<input id="raceclub" name="club" type="text" value="" placeholder="Club">
			</div>
			<div class="controls">
				<input type="submit" value="Add Participant" class="btn btn-primary">
			</div>
		</div>
	</form>
</template>