<template name="participantItem">
	<div class="krend">
		<div class="krend-content">
			<h3><span>{{name}}, {{year}}, {{club}}, {{domain}}</span></h3>
			<p>
				Added by {{owner}}
				{{#if ownParticipant}}<a href="{{pathFor 'participantEdit'}}">Edit</a>{{/if}}
			</p>
		</div>
		<a href="{{pathFor 'participantPage'}}" class="discuss btn">Details</a>
	</div>
</template>

<template name="participantItemTiny">
	<div class="krend">
		<div class="krend-content">
			<h3><span>{{name}}, {{year}}, {{club}}, {{domain}}</span></h3>
		</div>
		<a href="{{pathFor 'participantPage'}}" class="discuss btn">Remove</a>
	</div>
</template>